<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<title>Iris Classifier predict</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
  <!-- <script ty  pe="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>  -->
  <script type="text/javascript">

    $(function() {
        $('#predict').click(function() {
            var form_data = new FormData($('#myform')[0]);
            console.log(form_data);
            $.ajax({
                type: 'POST',
                url: '/predict',
                data: form_data,
                contentType: false,
                processData: false,
            }).done(function(data, textStatus, jqXHR){
                
                $('#result').text(data);
    
    
    
            }).fail(function(data){
                alert('error!');
            });
        });
        
    }); 
    
        
    </script>
</head>
<body>
   
	<h1><CENTER>Iris Classifier model</CENTER></h1>
	<form id="myform" method="POST">
        <div class="form-group"></div>
		Sepal Length: <input type="text" name="sl" placeholder="Enter value cm"><br><br>
		Sepal Width : <input type="text" name="sw" placeholder="Enter value cm"><br><br>
		Petal Length: <input type="text" name="pl" placeholder="Enter value cm"><br><br>
		Petal Width : <input type="text" name="pw" placeholder="Enter value cm"><br><br>
    </div>
	</form>
    <!-- <form id="myform" method="POST">
        <div class="form-group row">

            <label class="col-sm-2 col-form-label">Sepal Length:</label>
            <div class="col-sm-10">
		        <input type="text" name="sl" placeholder="Enter value cm"><br><br>
            </div>
		    <label class="col-sm-2 col-form-label">Sepal width:</label>
            <div class="col-sm-10"> 
                <input type="text" name="sw" placeholder="Enter value cm"><br><br>
            </div>

            <label class="col-sm-2 col-form-label">petal Length:</label>
            <div class="col-sm-10">
		        <input type="text" name="pl" placeholder="Enter value cm"><br><br>
            </div>

		    <label class="col-sm-2 col-form-label">petal width:</label>
            <div class="col-sm-10"> 
                <input type="text" name="pw" placeholder="Enter value cm"><br><br>
            </div>
        </div>
	</form> -->
	<button id="predict" class="btn btn-primary">Predict</button>
	<h2 id="result"></h2>


<!-- d for bootstrap  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>
</html>